// ******************************************************************
// * Colors variables
// *
// * Name color reference: http://chir.ag/projects/name-that-color/
// ******************************************************************
$color-astral: #337AB7;
$color-alto-one: #DDDDDD;
$color-alto-two: #E0E0E0;
$color-black: #000000;
$color-boulder: #777777;
$color-red: #ff0000;
$color-white: #FFFFFF;
