// ********************
// * Pagination styles
// ********************
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;

  > li {
    display: inline; // Remove list-style and block-level defaults
    > a,
    > span {
      position: relative;
      float: left;
      padding: 6px 12px;
      margin-left: -1px;
      line-height: 1.42857143;
      color: $color-astral;
      text-decoration: none;
      background-color: $color-white;
      border: 1px solid $color-alto-one;
    }
  }
}

.pagination>.active>a, .pagination>.active>a:focus,
.pagination>.active>a:hover, .pagination>.active>span,
.pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: $color-white;
    cursor: default;
    background-color: $color-astral;
    border-color: $color-astral;
  }

  .pagination>.disabled>a, .pagination>.disabled>a:focus,
  .pagination>.disabled>a:hover, .pagination>.disabled>span,
  .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: $color-boulder;
    cursor: not-allowed;
    background-color: $color-white;
    border-color: $color-alto-one;
}
