//---------------
// dashboard.scss
//---------------

@import 'scss/globals/pagination.scss';

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

#content {
  min-height: 100vh;
}

ul {
    list-style-type: none !important;
}

a {
  &:hover {
    text-decoration: none !important;
  }
}

.sidebar {
  max-width: 15.499995% !important;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  min-height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */

  ul {
    li > a {
      color: black;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

#search, #save-kyc-info, #save-excel {
  color: #000;
  background: #e0e0e0;
}

.debugger {
  border: 1px solid red;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.vdatetime {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.vdatetime-input {
  border: none !important;
  width: 100% !important;
}

.kyc-img {
  width: 100px;
  height: 100px;
}

.kyc-table-data {
  min-width: 150px;
  text-align: center;
}

.select-no-arrow {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

/* For IE10 */
.select-no-arrow::-ms-expand {
  display: none;
}

@media (min-width: 1280px) and (max-width: 1919px) {
  #content {
    max-width: 84.33333% !important;
  }
}

@media (min-width: 1920px) {
  #content {
    max-width: 87.99999% !important;
  }
}
