//---------------
// dashboard.scss
//---------------

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

#content {
  min-height: 100vh;
}

ul {
    list-style-type: none !important;
}

a {
  &:hover {
    text-decoration: none !important;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */

  ul {
    li > a {
      color: black;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

#search, #save-kyc-info, #save-excel {
  color: #000;
  background: #e0e0e0;
}

.debugger {
  border: 1px solid red;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.vdatetime {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.vdatetime-input {
  border: none !important;
  width: 100% !important;
}

.img-fixed-size {
  width: 100px;
  height: 100px;
}
