//---------------
// login.scss
//---------------

* {
  margin: 0;
  padding: 0;
}

.btn {
  background: #E0E0E0;
}

.loading-parent {
  position: relative;
}

.vue-notification {
  background: #d9534f !important;
  border: 3px solid #d9534f !important;
}

.debugger {
  border: 1px solid red;
}
