// ***************
// * Login styles
// ***************
@import 'scss/variables/colors.scss';

* {
  margin: 0;
  padding: 0;
}

.btn {
  background: $color-alto-two;
}

.loading-parent {
  position: relative;
}

.debugger {
  border: 1px solid $color-red;
}
